@import url('https://fonts.google.com/specimen/Josefin+Sans');
h1{
    color: blue;
}

form{
    margin-top: 20%;
    margin-left: 43%;
    position: absolute;
    color:white;
    width: 50%;
    font-family: 'Josefin+Sans', sans-serif;
    font-weight: bold;
}


.Intro{
    text-align: center;
    margin-top: 5%;
    background-color: transparent;
    position: absolute;
    top: 25%;
    left: 35%;
    color: white;
    
}
body{
    height: 713px;
    width: 1536px;
    background-image: url("https://wallpapers.com/images/featured/775ta0o0wf4nbyq3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(5px);
}

#retour{
    margin-left:14%
}
#envoyer{
    margin-left:2%
}
input{
    border-radius: 14px;
    width: 35%;
}